@model IPagedList<ManufacturersVM>

<div style="margin-top: 8vh;">
    <div class="flex-se">
        <div>
            <div class="card" style="margin-top: 12vh;">
                <div class="card-header"><b>New Manufacturer</b></div>
                <div class="card-body">
                    <form style="display: flex;" method="post" asp-controller="Vehicle" asp-action="CreateManufacturer">
                        <input name="name" type="text" class="form-control" style="margin-right: 1em" placeholder="Name" aria-label="Name"/>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                    </form>
                </div>
            </div>
        </div>
        @if (@Model == null){
            <div>No manufacturers found</div>
        }else{
            <div class="flex-col" style="width: 50%;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 40%;margin: 0; padding: 0;">
                                Manufacturer 
                                <a class="btn" asp-action="Manufacturers" asp-route-sortOrder="@ViewBag.ManSort">
                                    @if(String.IsNullOrEmpty(ViewBag.ManSort)){
                                        <i class="fa-solid fa-arrow-up"></i>
                                    }else{
                                        <i class="fa-solid fa-arrow-up fa-rotate-180"></i>
                                    }
                                </a>
                            </th>
                            <th style="width: 40%;margin: 0; padding: 0;">
                                Model Count 
                                <a class="btn" asp-action="Manufacturers" asp-route-sortOrder="@ViewBag.CountSort">
                                    @if(ViewBag.CountSort == "count_asc"){
                                        <i class="fa-solid fa-arrow-up"></i>
                                    }else{
                                        <i class="fa-solid fa-arrow-up fa-rotate-180"></i>
                                    }
                                </a>
                            </th>
                            <th style="width: 20%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ManufacturersVM manufacturer in Model)
                        {
                                <tr>
                                    <td>
                                        @manufacturer.ManufacturerName
                                    </td>
                                    <td>
                                        @manufacturer.Count
                                    </td>
                                    <td>
                                        <div class="flex-se">
                                            <form method="get" asp-controller="Vehicle" asp-action="Manufacturer" asp-route-id="@manufacturer.VehicleMakeId">
                                                <button class="btn btn-primary"><i class="fa-solid fa-gear" style="color: #ffffff;"></i></button>
                                            </form>
                                            <form method="post" asp-controller="Vehicle" asp-action="DeleteManufacturer" asp-route-id="@manufacturer.VehicleMakeId">
                                                <button type="submit" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
                <div style="display: flex; justify-content: flex-end">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Manufacturers",
                        new
                            {
                                page, sortOrder = ViewBag.CurrentSort
                        }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link"},
                            Display = PagedListDisplayMode.IfNeeded

                            })
                </div>
            </div>
        }
    </div>
</div>